body {
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 0;
    background-color: #E4EDDB;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #307672;
    color: #E4EDDB;
    padding: 15px;
    text-align: center;
    align-items: center;
}