<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group</title>
    <link rel="icon" type="image/x-icon" href="/images/icons8-звезда-96.png">
    <link rel="stylesheet" type="text/css" href="/css/group.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>

<body>
    <div class="header">
        <a href="/" class="group-link">Обратная связь по курсу</a>
    </div>
    <div class="group-info">
        <div class="group-block">
            <img src="{{ .Image }}" alt="{{ .Name }}">
            <div class="info-about">
                <h2>{{ .Name }}</h2>
                <p>Курс: {{ .Course }}</p>
                <p>Контакты: {{ .Contacts }}</p>
                <p>Количество студентов: {{ .Students }}</p>
            </div>
        </div>
        <div class="buttons">
            <a href="/" class="back">Вернуться на главную</a>
            <a class="back">Запросить обратную связь</a>
        </div>
    </div>
</body>

</html>